.detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.ui.cardSize {
  width: 40vw;
  max-height: 40vh;
}

.imageContainer {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.price {
  font-size: xx-large;
}

.priceContainer {
  padding: 20px;
}
