.containerNav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(48, 43, 47);
  width: 100%;

  align-items: center;
}

ul {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  padding-left: 30px;
}

li {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  list-style-type: none;
  display: inline-block;
}

a {
  text-decoration: none;
  color: aliceblue;
  font-size: 15px;
}

.cartWidget {
  padding-right: 100px;
  padding-top: 10px;
}

.home:hover {
  transform: scale(1.2, 1.2);
  color: tomato;
  transition: 1s;
}

.simpsons {
  width: 150px;
}

.simpsons:hover {
  transform: scale(1.2, 1.2);
  transition: 1.5s;
}

.harry {
  width: 180px;
}

.harry:hover {
  transform: scale(1.2, 1.2);
  transition: 1.5s;
}

.marvel {
  width: 150px;
}

.marvel:hover {
  transform: scale(1.2, 1.2);
  transition: 1.5s;
}

.dc {
  width: 70px;
}

.dc:hover {
  transform: scale(1.2, 1.2);
  transition: 1.5s;
}

.dragon {
  width: 240px;
}

.dragon:hover {
  transform: scale(1.2, 1.2);
  transition: 1.5s;
}
