.containerNav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(97, 24, 91);
  width: 100%;
}

.container ul {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

li {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  list-style-type: none;
  display: inline-block;
}

a {
  text-decoration: none;
  color: aliceblue;
  font-size: 15px;
}

.cartWidget {
  padding-right: 100px;
  padding-top: 10px;
}
