.CardContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

.CardUser2 {
  border: 10px groove black;
  border-radius: 20px;
  display: inline-block;
  margin: 50px;
}

.btnCart {
  margin-bottom: 20px;
  margin-top: 20px;
  width: 15.3vw;
  color: green;
  position: relative;
  font-size: large;
}

.carritoBtn {
  color: rgb(150, 45, 127);
  font-size: x-large;
}

.price {
  color: rgb(0, 0, 0);
  font-size: 1.5em;
  padding-bottom: 20px;
}

.priceContainer {
  padding-bottom: 10px;
  padding-top: 10px;
}

.removeBtn a {
  color: red;
}

.clearBtn a {
  color: black;
  padding: 20px;
  display: inline-block;
  border: 2px solid red;
  background-color: rgb(207, 90, 90);
}
